<main role="main" class="inner cover">
	<h1 class="cover-heading">Home</h1>
	<p class="lead">Hello ! You are on my webpage. See ! It's a nice place ! </p>
	<p class="lead">
    	<a href= <%= create_user_path %> class="btn btn-lg btn-secondary">Create a new user</a>
    </p>
</main>
