<p> Bad ! The user isn't saved. You must only enter letters and avoid space. Or, the username is already used.</p>
<a href= <%= create_user_path %> class="btn btn-lg btn-secondary">I understand chief ! I want subscribe now </a>
